<html>
    <head>
        <title>
            new interview
        </title>
    </head>
    <body>
        <h1>Create Interview!</h1>
        <div>
            <form action="/new" method = "POST">
                Enter Creaters Name: <input type="text" name = "name"><br>
                Interviewee Email: <input type="email" name = "email"><br>
                Select Timing: <input type="datetime-local" name = "time"><br>
                <button type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>