<html>
    <head>
        <title>
            new interview
        </title>
    </head>
    <body>
        <div>
            <form action="/newUser" method = "POST">
                Enter Creaters Name: <input type="text" name="Nane"><br>
                EmailId: <input type="email" name= "Emailid"><br>
                <button type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>