<html>
    <head>
        <meta charset="UTF-8">
        <neta name="viewport" content ="width=device-width, initial-scale = 1.0", >
        <title>Interview Form</title>
    </head>
    <body>
        <h2>Create User Account.</h1>
        <div>
            <form action="/newUser" method = "POST">
                Enter Creaters Name: <input type="text" name="name"><br>
                EmailId: <input type="email" name= "email"><br>
                <button type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>