<html>
    <head></head>
    <body>
        <table>
        <% data.forEach(element => { %>
        <tr>
            <td>
                <%= element.Name %>
            </td>
            <td>
                <%= element.Emailid %>
            </td>
        </tr>        
        <% }); %>
        </table> 
    </body>
</html>