<html>
    <head></head>
    <body>
        <table>
        <% data.forEach(element => { %>
        <tr>
            <td>
                <%= element.Interviewer %>
            </td>
            <td>
                <%= element.Emailid %>
            </td>
            <td>
                <%= element.Timing %>
            </td>
        </tr>
        
        <% }); %>
        </table> 
    </body>
</html>