<html>
    <head>
        <link>
    </head>
    <body>
        <h2>Interviews...</h2>
        <table>
        <% data.forEach(element => { %>
        <tr>
            <td>
                <%= element.Interviewer %>
            </td>
            <td>
                <%= element.Emailid %>
            </td>
            <td>
                <%= element.Timing %>
            </td>
            <td>
                <form action="/delete" method ="POST" >
                    <input type="hidden" value="<%= element._id %>" name="id">
                    <button type="submit">delete</button>
                </form>
            </td>
        </tr>
        
        <% }); %>
        </table> 
    </body>
</html>